body{
    background-color: antiquewhite;
}

main{
    display: flex;
    align-items: center;
}
.content{
    flex:1;   /*pozwól wyświetlić się elementowi na pełną szerokość*/
    display: flex;
    justify-content: center;  /*wycentruj zdjęcie horyzontoalnie*/
}

.leftArr,
.rightArr{
    border: 2px dashed red;
    padding: 1rem;
    cursor: pointer;
}
footer{
    /*display: flex
    justyfy- content: end; */

    text-align: right;
    margin-top: 4rem;
}